<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>地图界面</title>
    <link rel="stylesheet" href="/static/js/bstable/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/js/jQueryPage/src/jquery.page.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="/user/index">数据概览</a></li>
            <li><i class="nav_5"></i><a href="/user/node-control">节点设置</a></li>
        </ul>
    </div>
    <div class="header_center left">
        <h2><strong>智能监控平台</strong></h2>
        <p class="color_font"><small>Intelligent Monitoring Platform</small></p>
    </div>
    <div class="right nav text_right">
        <ul>
            <li class="nav_active"><i class="nav_3"></i><a href="/user/map">地图界面</a></li>
        </ul>
    </div>
</header>

<!--内容部分-->
<div class="map_con left" id="car_control">
    <!--左侧地图-->
    <div class="left map_left"  >
        <div  class="map_box" id="map_box"></div>
    </div>

    <!--右侧功能栏-->
    <div class="right map_right ">
        <div class="map_right_top">
            <ul>
                <li class="li_active">预警信息</li>
            </ul>
        </div>
        <div class="map_con">
            <div class="map_con_div" style="display: block" >
                <div class="div_table_child_2">
                    <div class="table_t">
                        <div class="table_head">
                            <table class="table-striped">
                                <thead>
                                <tr>
                                    <th>节点ID</th>
                                    <th>类别</th>
                                    <th>经度</th>
                                    <th>纬度</th>
                                    <th>时间</th>
                                </tr>
                                </thead>
                                <!--                                <tbody id="table-body">  &lt;!&ndash;这里是表格内容&ndash;&gt;-->
                                <tbody id="table-body">
                                {% for node in node_allinfo %}
                                <tr style="height: 30px">
                                    <td>{{ node.node_id }}</td>
                                    <td>{{ node.classification }}</td>
                                    <td>{{ node.longitude }}</td>
                                    <td>{{ node.latitude }}</td>
                                    <td>{{ node.timestamp }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<script src="../static/js/jquery/jQuery-2.2.0.min.js"></script>-->
<script src="/static/js/jquery/jQuery-3.6.0.min.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>-->
<script src="/static/js/base.js"></script>
<script src="/static/js/echarts-all.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=WZ0A9ap4bojUPbNWBsGHcClAqwy8n242&callback"></script>
<script src="/static/js/jQueryPage/src/jquery.page.js"></script>
<script src="/static/js/map_control.js"></script>
<script src="/static/js/bstable/js/bootstrap.min.js"></script>

<script>
    function refreshTable() {
        $.ajax({
            url: "/get_table_data",
            method: "GET",
            dataType: "json",
            success: function(data) {
                // 更新表格数据
                var tableBody = $("#table-body");
                tableBody.empty();
                data[0].forEach(function(row) {
                    var tr = $("<tr>");
                    tr.append($("<td>").text(row[0]));
                    tr.append($("<td>").text(row[1]));
                    tr.append($("<td>").text(row[2]));
                    tr.append($("<td>").text(row[3]));
                    tr.append($("<td>").text(row[4]));
                    tableBody.append(tr);
                });
            }
        });
    }
    setInterval(refreshTable, 5000);
</script>

</body>
</html>
