<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>节点设置</title>
    <link rel="stylesheet" href="/static/css/base.css">
<!--    <link href="../static/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />-->
    <link rel="stylesheet" href="/static/js/bstable/css/bootstrap.min.css">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <style>
        h2{
            font-size: 20px;
            font-weight: 600;
            color: white;
            text-indent:3%;
        }
        label{
            font-size: 16px;
            font-weight: 600;
            color: white;
        }
        textarea{
            width: 98%;
            height:150px;
            resize:none;
        }
        .dropdown{
            margin-bottom: 10px;
        }
    </style>
</head>
<style>

</style>
<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li><i class="nav_1"></i><a href="/user/index">数据概览</a></li>
            <li class="nav_active"><i class="nav_5"></i><a href="/user/node-control">节点设置</a></li>
        </ul>
    </div>
    <div class="header_center left">
        <h2><strong>智能监控平台</strong></h2>
        <p class="color_font"><small>Intelligent Monitoring Platform</small></p>
    </div>
    <div class="right nav text_right">
        <ul>
            <li><i class="nav_3"></i><a href="/user/map">地图界面</a></li>
        </ul>
    </div>
</header>

<!--内容部分-->
<div class="con left ">
    <div class="node_any">
        <div class="left div_any01">
            <div class="div_any_child ">
                <div class="div_any_title"><img src="/static/img/title_1.png">电量 </div>
                <p id="char1" class="p_chart chart_container"></p>
            </div>
            <div class="div_any_child">
                <div class="div_any_title"><img src="/static/img/title_2.png">剩余空间 </div>
                <p id="char2" class="p_chart chart_container"></p>
            </div>
        </div>
        <div class="node_any02 left">
            <div class="div_node_child">
                <div class="div_any_title any_title_width"><img src="/static/img/title_3.png">状态信息</div>
                <div class="div_table_child_2">
                    <div class="table_t">
                        <table class="table-striped">
                            <thead>
                            <tr>
                                <th>节点ID</th>
                                <th>状态</th>
                                <th>经度</th>
                                <th>纬度</th>
                                <th>电量</th>
                                <th>已用空间</th>
                                <th>GPS</th>
                                <th>检波器</th>
                                <th>角度</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for node in node_data %}
                            <tr style="height: 30px">
                                <td>{{ node.node_id }}</td>
                                <td>{{ node.seismic_state }}</td>
                                <td>{{ node.longitude }}</td>
                                <td>{{ node.latitude }}</td>
                                <td>{{ node.energy }}</td>
                                <td>{{ node.space }}</td>
                                <td>{{ node.gps_state }}</td>
                                <td>{{ node.detector_state }}</td>
                                <td>{{ node.angle }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="right node_any01">
            <div class="node_any_child">
                <div class="div_any_title"><img src="/static/img/title_4.png">命令设置</div>
                <div class="div_node_child01">
                    <div class="all_left">
                        <h2>tcp:</h2>
                        <button onclick="connect()" class="btn btn-primary btn-lg">连接</button>
                    </div>
                    <div class="scrollable-div">
                        <h2>选择节点:</h2>
                        <div class="all_left">
                            {% for node in node_data %}
<!--                            <button type="button" class="btn btn-primary btn-lg my_bb" onclick="showNodeData('{{ node[0] }}')">{{ node[0] }}</button>-->
                            <button id="node-button-{{ node.node_id }}" type="button" class="btn btn-primary btn-lg my_bb" onclick="showNodeData('{{ node.node_id }}')">{{ node.node_id }}</button>
                            {% endfor %}
                        </div>
                    </div>
                    <h2>设置：</h2>
                    <div class="dropdown all_left">
                        <label for="command1-select">全局功率设置:</label>
                        <select id="command1-select">
                            <option value="">-- 选择功率 --</option>
                            <option value="command1">6dBm</option>
                            <option value="command2">9dBm</option>
                            <option value="command3">13dBm</option>
                            <option value="command4">20dBm</option>
                        </select>
                    </div>
                    <div>
                        <button onclick="sendMessage()" class="btn btn-primary center-block">发送</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--<script src="../static/js/jquery/jQuery-2.2.0.min.js"></script>-->
<script src="/static/js/jquery/jQuery-3.6.0.min.js"></script>
<script src="/static/js/echarts-all.js"></script>
<script src="/static/js/base.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5ieMMexWmzB9jivTq6oCRX9j&callback"></script>
<script src="/static/js/bstable/js/bootstrap.min.js"></script>

<script>
    var nodeData = [
        {% for node in node_data %}
    { id: "{{ node.node_id }}",
        electricity: {{ node.energy }},
        space: {{ node.space }} },
    {% endfor %}
    ];

    function showNodeData(nodeId) {
        var node = nodeData.find(function (n) {
            return n.id === nodeId;
        });

        if (node) {
            char1(node.electricity);
            char2(node.space);
        }
    }

    function updateNodeData(nodeId) {
        // Send an AJAX GET request to get updated data for the given node
        fetch(`/get_node_data/${nodeId}`)
            .then(response => response.json())
            .then(data => {
                const node = JSON.parse(data);
                // Update pie charts with the received data
                char1(node.electricity);
                char2(node.space);
                // Update the table with the received data
                const tableRow = `
                    <tr style="height: 30px">
                        <td>${node.id}</td>
                        <td>${node.status}</td>
                        <td>${node.longitude}</td>
                        <td>${node.latitude}</td>
                        <td>${node.electricity}</td>
                        <td>${node.space}</td>
                        <td>${node.gps}</td>
                        <td>${node.detector}</td>
                        <td>${node.angle}</td>
                    </tr>
                `;
                document.querySelector("#node-table tbody").innerHTML = tableRow;
            })
            .catch(error => console.error('Error fetching data:', error));
    }

    function char1(electricity) {
        var myChart = echarts.init(document.getElementById("char1"));

        var option = {
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c} ({d}%)",
            },
            legend: {
                orient: "vertical",
                x: "right",
                textStyle: {
                    color: "#ffffff",
                },
                data: ["剩余电量", "已用电量"],
            },
            series: [
                {
                    name: "电量",
                    type: "pie",
                    radius: ["40%", "70%"],
                    itemStyle: {
                        normal: {
                            label: {
                                show: false,
                            },
                            labelLine: {
                                show: false,
                            },
                        },
                        emphasis: {
                            label: {
                                show: true,
                                position: "center",
                                textStyle: {
                                    fontSize: "20",
                                    fontWeight: "bold",
                                },
                            },
                        },
                    },
                    data: [
                        { value: electricity, name: "剩余电量" },
                        { value: 100 - electricity, name: "已用电量" },
                    ],
                },
            ],
        };

        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    }

    function char2(space) {
        var myChart = echarts.init(document.getElementById("char2"));

        var option = {
            tooltip: {
                trigger: "item",
                formatter: "{a} <br/>{b} : {c}% ({d}%)",
            },
            legend: {
                orient: "vertical",
                x: "right",
                textStyle: {
                    color: "#ffffff",
                },
                data: ["剩余空间", "已用空间"],
            },
            series: [
                {
                    name: "电量",
                    type: "pie",
                    radius: ["40%", "70%"],
                    itemStyle: {
                        normal: {
                            label: {
                                show: false,
                            },
                            labelLine: {
                                show: false,
                            },
                        },
                        emphasis: {
                            label: {
                                show: true,
                                position: "center",
                                textStyle: {
                                    fontSize: "20",
                                    fontWeight: "bold",
                                },
                            },
                        },
                    },
                    data: [
                        { value: 100 - space, name: "剩余空间" },
                        { value: space, name: "已用空间" },
                    ],
                },
            ],
        };

        myChart.setOption(option);
        window.addEventListener("resize", function () {
            myChart.resize();
        });
    }

    function connect() {
        fetch("/connect_node", {
            method: "GET",
        })
            .then(response => response.json())
            .then(data => console.log(data));
    }
</script>

</body>
</html>
